*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}
a:hover,
a:link,
a:visited,
a:active,
a {
  color: black;
  text-decoration: none;
}
.site {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 100%;
  padding: 0 0.5em;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
header {
  width: 100%;
  height: 4rem;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.5);
}

.logo {
  display: block;
  max-height: 32px;
  height: auto;
  width: auto;
}

.controls {
  gap: 0.5em;
}
.cart-container {
  position: relative;
  height: 32px;
  width: 32px;
}
.cart-icon {
  width: 32px;
  height: 32px;
  transition: opacity 150ms;
}
.account-container {
  width: 32px;
  height: 32px;
  padding: 2px;
}
.account-img {
  width: 100%;
  height: 100%;
}
.cart-img {
  width: 100%;
  height: 100%;
}
.cart-icon:hover {
  cursor: pointer;
}
.cart-icon input {
  appearance: none;
  position: absolute;
}
.cart-sidebar {
  transform: translateX(100%);
  opacity: 0;
  --transition-timing: 150ms;
  transition: transform var(--transition-timing),
    opacity var(--transition-timing);
  background-color: white;
  position: fixed;
  z-index: 30;
  inset: 0 0 0 0;
  padding: 1em 2em;
}
.cart-sidebar .close-container {
  width: 100%;
  display: flex;
  justify-content: end;
}
.close-container .close {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  cursor: pointer;
}
.close-container .close {
  --rotate: 0;
}
.close-container .close::before,
.close-container .close::after {
  content: "";
  height: 5px;
  background-color: black;
  border-radius: 9999px;
  transform-origin: right center;
  --transition-duration: 150ms;
  transition: rotate var(--transition-duration);
  transition-delay: 100ms;
}
.cart-container:has(input:checked) .cart-icon {
  opacity: 0;
}
.cart-container .close::before {
  rotate: calc(var(--rotate) * -1);
  width: 110%;
}
.cart-container .close::after {
  rotate: var(--rotate);
  width: 110%;
}

.cart-container:has(input:checked) .close::before {
  --rotate: 45deg;
  rotate: calc(var(--rotate) * -1);
  width: 120%;
}
.cart-container:has(input:checked) .close::after {
  --rotate: 45deg;
  rotate: var(--rotate);
  width: 120%;
}

@supports (backdrop-filter: blur(4px)) {
  .cart-sidebar {
    background: hsla(0, 0%, 50%, 0.5);
    backdrop-filter: blur(4px);
  }
}
.cart-icon:has(input:checked) + .cart-sidebar {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.sidebar-container {
  width: 32px;
  height: 32px;
}
.hamburger-menu {
  --rotate: 0;
  position: absolute;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  right: auto;
  width: 32px;
  height: 32px;
  padding: 2px;
}
.hamburger-menu:hover,
.hamburger-menu input {
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  height: 5px;
  background-color: black;
  border-radius: 9999px;
  transform-origin: right center;
  --transition-duration: 150ms;
  transition: width var(--transition-duration),
    opacity var(--transition-duration), rotate var(--transition-duration),
    right var(--transition-duration);
}
.hamburger-menu::before,
.hamburger-menu::after {
  width: 75%;
}
.hamburger-menu input {
  width: 100%;
  appearance: none;
  margin: 0;
}

.hamburger-menu::before {
  rotate: calc(var(--rotate) * -1);
  width: 100%;
}
.hamburger-menu::after {
  rotate: var(--rotate);
  width: 100%;
}
.hamburger-menu:has(input:checked)::before {
  --rotate: 45deg;
  rotate: calc(var(--rotate) * -1);
  width: 100%;
}
.hamburger-menu:has(input:checked)::after {
  --rotate: 45deg;
  rotate: var(--rotate);
  width: 100%;
}
.hamburger-menu:has(input:checked) {
  right: 1em;
}
input:checked {
  width: 0;
  opacity: 0;
}

.nav-sidebar {
  transform: translateX(100%);
  opacity: 0;
  --transition-timing: 150ms;
  transition: transform var(--transition-timing),
    opacity var(--transition-timing);
  background-color: white;
  position: fixed;
  z-index: 10;
  inset: 0 0 0 0;
  padding: 4em 2em;
}

@supports (backdrop-filter: blur(4px)) {
  .nav-sidebar {
    background: hsla(0, 0%, 50%, 0.5);
    backdrop-filter: blur(4px);
  }
}
.hamburger-menu:has(input:checked) + .nav-sidebar {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  header {
    height: 5rem;
  }
  .logo {
    max-height: 48px;
  }
  .account-container {
    width: 48px;
    height: 48px;
    padding: 4px;
  }
  .controls {
    gap: 1em;
  }
  .cart-container {
    height: 48px;
    width: 48px;
  }
  .cart-icon {
    width: 48px;
    height: 48px;
  }
  .cart-sidebar .close {
    width: 48px;
    height: 48px;
  }
  .cart-sidebar .close::before,
  .cart-sidebar .close::after {
    height: 6px;
    width: 120%;
  }

  .hamburger-menu {
    width: 48px;
    height: 48px;
  }
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    height: 6px;
  }
  .nav-sidebar {
    inset: 0 0 0 40%;
  }
  .cart-sidebar {
    inset: 0 0 0 40%;
  }
  .sidebar-container {
    width: 48px;
    height: 48px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .nav-sidebar {
    inset: 0 0 0 50%;
  }
  .cart-sidebar {
    inset: 0 0 0 50%;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .nav-sidebar {
    inset: 0 0 0 60%;
  }
  .cart-sidebar {
    inset: 0 0 0 60%;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
