/* Settings */
:root {
  --control-sm: 2em;
  --control-base: 2.5em;
  --control-lg: 3em;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  transition: all 150ms ease;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin: 0;
}
.container {
  width: 100%;
  padding: 0 0.5em;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
noscript {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: lightcoral;
  padding: 5px;
}
/* Mobile first */

/* Header & Sidebar */
.header {
  width: 100%;
  height: 4em;
  display: grid;
  place-items: center;
  padding: 1em 0;
  background-color: white;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.5);
}

.logo {
  max-height: var(--control-sm);
  height: auto;
  width: auto;
}

.controls {
  gap: 0.5em;
}
.control-container {
  position: relative;
}
.control-container input {
  appearance: none;
  margin: 0;
}
.control-container .items-count {
  width: 1em;
  height: 1em;
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 9999px;
  display: grid;
  place-items: center;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.5);
}

.icon {
  cursor: pointer;
}

.icon img {
  width: var(--control-sm);
  height: var(--control-sm);
}

.sidebar-button {
  --rotate: 0;
  --width: 75%;
  width: var(--control-sm);
  aspect-ratio: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 2px;
}

.sidebar-button:hover,
.sidebar-button input {
  cursor: pointer;
}
.sidebar-button input {
  width: 100%;
  appearance: none;
  margin: 0;
}

.sidebar-button::before,
.sidebar-button::after,
.sidebar-button input {
  content: "";
  height: 5px;
  background-color: black;
  border-radius: 9999px;
  transform-origin: right center;
}

.sidebar-button::before,
.sidebar-button::after {
  width: var(--width);
}

.sidebar-button::before {
  rotate: calc(var(--rotate) * -1);
  width: var(--width);
  transform: translateY(2px);
}
.sidebar-button::after {
  rotate: var(--rotate);
  width: var(--width);
  transform: translateY(-2px);
}

.sidebar-button:has(input:checked)::before {
  rotate: -45deg;
  width: 100%;
  transform: translateY(2px);
}
.sidebar-button:has(input:checked)::after {
  rotate: 45deg;
  width: 100%;
  transform: translateY(-2px);
}
input:checked {
  width: 0;
  opacity: 0;
}

.sidebar {
  position: fixed;
  inset: 0 0 0 0;
  pointer-events: none;
  z-index: 10;
  background-color: white;
  opacity: 0;
  transform: translateX(100%);
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.sidebar-button:has(input:checked) + .sidebar,
.icon:has(input:checked) + .sidebar {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.sidebar .sidebar-close-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar .sidebar-close-container label {
  width: var(--control-sm);
  height: var(--control-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.sidebar .sidebar-close-container label::before,
.sidebar .sidebar-close-container label::after {
  --rotate: 0;
  content: "";
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 99999px;
  transform-origin: right center;
  transition-delay: 100ms;
}
/* .sidebar-close-container label::before {
}
.sidebar-close-container label::after {
  rotate: ;
} */
.control-container
  label:has(input:checked)
  + .sidebar
  .sidebar-close-container
  label::before {
  rotate: -45deg;
  transform: translateY(3px);
}
.control-container
  label:has(input:checked)
  + .sidebar
  .sidebar-close-container
  label::after {
  rotate: 45deg;
  transform: translateY(-3px);
}

.sidebar .cart-items,
.sidebar .nav-items {
  flex-grow: 100;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.sidebar .cart-item {
  display: flex;
  text-decoration: none;
  color: inherit;
}
.sidebar .cart-item div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.sidebar .cart-item div span:nth-child(2) {
  display: flex;
  justify-content: end;
}
.sidebar .cart-item img {
  width: 150px;
  height: auto;
}
.sidebar .cart-footer {
  margin-top: 0.5em;
}
.sidebar .cart-footer .cart-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.sidebar .cart-footer a,
.sidebar .cart-footer label {
  flex: 1 1 calc(50% - 0.5em);
  display: block;
  min-width: 120px;
  text-decoration: none;
  color: inherit;
  display: grid;
  place-items: center;
  height: 2em;
  background-color: gray;
  color: white;
}
.sidebar .cart-footer a:hover,
.sidebar .cart-footer label:hover {
  background-color: darkgray;
  color: black;
  cursor: pointer;
}
/* First Breakpoint */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  /* Header & Sidebar */
  .header {
    height: 5em;
  }
  .logo {
    max-height: var(--control-lg);
  }
  .control-container .items-count {
    width: 1.5em;
    height: 1.5em;
  }
  .icon img {
    width: var(--control-lg);
    height: var(--control-lg);
  }
  .sidebar-button {
    width: var(--control-lg);
    padding: 4px 2px;
  }
  .sidebar-button::before,
  .sidebar-button::after,
  .sidebar-button input {
    height: 6px;
  }
  .sidebar {
    inset: 0 0 0 40%;
  }
  .sidebar .sidebar-close-container label {
    width: var(--control-lg);
    height: var(--control-lg);
  }
  .sidebar .sidebar-close-container label::before,
  .sidebar .sidebar-close-container label::after {
    height: 6px;
  }
  .control-container
    label:has(input:checked)
    + .sidebar
    .sidebar-close-container
    label::before {
    transform: translateY(5px);
  }
  .control-container
    label:has(input:checked)
    + .sidebar
    .sidebar-close-container
    label::after {
    transform: translateY(-5px);
  }
}
/* Second Breakpoint */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .sidebar {
    inset: 0 0 0 50%;
  }
}
/* Third Breakpoint */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .sidebar {
    inset: 0 0 0 60%;
  }
}
/* Fourth Breakpoint */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
/* Fifth Breakpoint */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
