/* Settings */
:root {
  --control-sm: 2em;
  --control-base: 2.5em;
  --control-lg: 3em;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  transition: all 150ms ease;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 0.5em;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

/* Mobile first */

/* Header & Sidebar */
.header {
  width: 100%;
  height: 4em;
  display: grid;
  place-items: center;
  padding: 1em 0;
  background-color: white;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.5);
}

.logo {
  max-height: var(--control-sm);
  height: auto;
  width: auto;
}

.controls {
  gap: 0.5em;
}

.control-container input {
  appearance: none;
  margin: 0;
}

.icon {
  cursor: pointer;
}

.icon img {
  width: var(--control-sm);
  height: var(--control-sm);
}

.sidebar-button {
  --rotate: 0;
  --width: 75%;
  width: var(--control-sm);
  aspect-ratio: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 2px;
}

.sidebar-button:hover,
.sidebar-button input {
  cursor: pointer;
}
.sidebar-button input {
  width: 100%;
  appearance: none;
  margin: 0;
}

.sidebar-button::before,
.sidebar-button::after,
.sidebar-button input {
  content: "";
  height: 5px;
  background-color: black;
  border-radius: 9999px;
  transform-origin: right center;
}

.sidebar-button::before,
.sidebar-button::after {
  width: var(--width);
}

.sidebar-button::before {
  rotate: calc(var(--rotate) * -1);
  width: var(--width);
  transform: translateY(2px);
}
.sidebar-button::after {
  rotate: var(--rotate);
  width: var(--width);
  transform: translateY(-2px);
}

.sidebar-button:has(input:checked)::before {
  rotate: -45deg;
  width: 100%;
  transform: translateY(2px);
}
.sidebar-button:has(input:checked)::after {
  rotate: 45deg;
  width: 100%;
  transform: translateY(-2px);
}
input:checked {
  width: 0;
  opacity: 0;
}

.sidebar {
  position: fixed;
  inset: 0 0 0 0;
  pointer-events: none;
  z-index: 10;
  background-color: white;
  opacity: 0;
  transform: translateX(100%);
}
.sidebar-button:has(input:checked) + .sidebar,
.icon:has(input:checked) + .sidebar {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
/* First Breakpoint */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  /* Header & Sidebar */
  .header {
    height: 5em;
  }
  .logo {
    max-height: var(--control-lg);
  }
  .icon img {
    width: var(--control-lg);
    height: var(--control-lg);
  }
  .sidebar-button {
    width: var(--control-lg);
    padding: 4px 2px;
  }
  .sidebar-button::before,
  .sidebar-button::after,
  .sidebar-button input {
    height: 6px;
  }
  .sidebar {
    inset: 0 0 0 40%;
  }
}
/* Second Breakpoint */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .sidebar {
    inset: 0 0 0 50%;
  }
}
/* Third Breakpoint */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .sidebar {
    inset: 0 0 0 60%;
  }
}
/* Fourth Breakpoint */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
/* Fifth Breakpoint */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
